:root {
    --first-font: 'Roboto', sans-serif;
    --second-font: 'Raleway', sans-serif;
    --first-color: #212121;
    --second-color: #757575;
    --third-color: #2196F3;
    --fourth-color: #FFFFFF;
    --first-background-color: #E5E5E5;
    --second-background-color: #2F303A;
    --third-background-color: #F5F4FA;
    --fourth-background-color: #ffffff;
    --first-cursor: pointer;
    --list-style-type: none;
}
body {
    font-family: var(--first-font);
    color: var(--first-color);
}
ul,
ol {
    list-style-type: var(--list-style-type);
}
h1,
h2,
h3,
h4,
h5,
h6 {
    margin: 0;
}
ul,
ol,
figure,
figcaption {
    margin: 0;
    padding: 0;
}
p {
    padding: 0;
    margin: 0;
}
img {
    display: block;
}
/* ===========header=========== */
.section-header {
    background-color: var(--fourth-background-color);
    border-bottom: 1px solid #ECECEC;
    padding: 25px 0;
}
.container-section-header {
    width: 1200px;
    margin: 0 auto;
    padding: 0 15px;
    display: flex;
    align-items: center;
}
.link-items {
    display: flex;
    width: 261px;
    margin-left: 93px;
    margin-right: 350px;
    justify-content: space-between;
}
.mail-icon {
    width: 16px;
    height: 12px;
    margin-right: 10px;
}
.phone-icon {
    width: 10px;
    height: 16px;
    margin-right: 10px;
}
.contact-link {
    margin-right: 30px;
    fill: #757575;
}
/* ===========Hero================== */
.section-hero {
    padding-top: 200px;
    padding-bottom: 200px;
    background-image: linear-gradient(rgba(47, 48, 58, 0.4), rgba(47, 48, 58, 0.4)), url(../images/background/bg_image.jpg);
    background-size: cover;
}
.container-hero {
    width: 1200px;
    margin: 0 auto;
    padding: 0 15px;
    display: flex;
    flex-direction: column;
    align-items: center;
}
.btn-hero {
    font-size: 16px;
    font-weight: 700;
    border: none;
    border-radius: 4px;
    padding: 10px 42px;
    margin-top: 30px;
}
.btn-hero:hover,
.btn-hero:focus {
    cursor: var(--first-cursor);
    background-color: var(--third-color);
    color: var(--fourth-color);
    box-shadow: 0px 3px 1px rgba(0, 0, 0, 0.1), 0px 1px 2px rgba(0, 0, 0, 0.08), 0px 2px 2px rgba(0, 0, 0, 0.12);
}
.hero-title {
    font-size: 44px;
    font-weight: 900;
    color: var(--fourth-color);
}
/* ===========lorem ipsum=========== */
.services {
    background-color: var(--first-background-color);
    padding-top: 94px;
}
.container-services {
    width: 1200px;
    margin: 0 auto;
    padding: 0 15px; 
}
.services-list {
    display: flex;
    width: 1170px;
    justify-content: space-between;
}
.services-list-item {
    display: flex;
    flex-direction: column;
}
.service-name {
    font-size: 14px;
    font-weight: 700;
    color: var(--first-color);
    padding-top: 30px;
    padding-bottom: 10px;
}
.service-desc {
    font-size: 14px;
    font-weight: 400;
    color: var(--second-color);
}
.services-icon {
    width: 270px;
    height: 120px;
}
/* ===========main:buttons=========== */
.section-main-buttons {
    background-color: var(--first-background-color);
    padding-bottom: 20px;
    padding-top: 94px;
}
.container-main-buttons {
    width: 1200px;
    margin: 0 auto;
    padding: 0 15px; 
}
.buttons-list {
    display: flex;
    justify-content: center;
}
.btn {
    padding: 6px 22px;
    font-weight: 500;
    line-height: 26px;
    border: none;
    border-radius: 4px;
}
.buttons-item:not(:last-child) {
    margin-right: 8px;
}
/* ===========main-cards=========== */
.section-main-cards {
    background-color: var(--first-background-color);
    padding-bottom: 94px;
}
.container-main-cards {
    width: 1200px;
    margin: 0 auto;
    padding: 0 15px;
    display: flex;
}
.cards {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between
}
.card-item {
    background-color: var(--fourth-background-color);
    border: 1px solid #EEEEEE;
    margin-top: 30px;
}
.description,
.alt {
    padding-left: 24px;
}
.alt {
    padding-bottom: 20px;
}
.description {
    padding-top: 20px;
    padding-bottom: 4px;
}
.card-item:hover {
    cursor: var(--first-cursor);
    box-shadow: 0px 1px 1px rgba(0, 0, 0, 0.12), 0px 4px 4px rgba(0, 0, 0, 0.06), 1px 4px 6px rgba(0, 0, 0, 0.16);
}
.alt {
    line-height: 1.875;
}
.description {
    font-size: 18px;
    line-height: 2;
}
.btn {
    font-size: 16px;
}
/* ===========footer=========== */
.section-footer {
    background-color: var(--second-background-color);
}
.container-footer {
    width: 1200px;
    margin: 0 auto;
    padding: 0 15px;
    display: flex;
}
.social-links {
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 206px;
    padding-top: 20px;
    padding-bottom: 100px;
    margin-left: 70px;
}
.social-icon {
    width: 20px;
    height: 20px;
    fill: var(--fourth-color);
}
.social-link {
    display: flex;
    width: 44px;
    height: 44px;
    background-color: rgba(255, 255, 255, 0.1);
    border-radius: 50%;
    justify-content: center;
    align-items: center;
}
.social-title {
    color: var(--fourth-color);
    font-size: 14px;
    font-weight: 700
}
.address-link-mail,
.address-link-phone {
    text-decoration: none;
    font-size: 14px;
    color: rgba(255, 255, 255, 0.6);
    line-height: 1.714;
}
.address-link-mail:hover,
.address-link-mail:focus,
.address-link-phone:hover,
.address-link-phone:focus {
    cursor:var(--first-cursor);
    color:var(--third-color);
}
.social-title {
    display: block;
    padding-left: 70px;
    padding-top: 72px;
}
.logo {
    display: block;
    padding-top: 60px;
    padding-bottom: 20px;
}
.address-link-mail {
    display: block;
    padding-top: 9px;
    padding-bottom: 9px;
}
.social-link:hover,
.social-link:focus {
    background-color: var(--third-color);
}
/* =======what are we doing=========== */
.specialization {
    background-color: var(--first-background-color);
    padding-top: 94px;
    padding-bottom: 94px;
}
.container-specialization {
    width: 1200px;
    margin: 0 auto;
    padding: 0 15px;
    display: flex;
    flex-direction: column;
    align-items: center;
}
.specializations-title {
    font-size: 36px;
    font-weight: 700;
    color: var(--first-color);
    display: block;
    padding-bottom: 50px;
}
.specializations-list {
    display: flex;
    width: 1170px;
    justify-content: space-between;
}
/* ===========our customers=========== */
.our-customers {
    background-color: var(--fourth-background-color);
}
.container-our-customers {
    width: 1200px;
    margin: 0 auto;
    padding: 0 15px;
    display: flex;
    flex-direction: column;
    align-items: center;
    padding-top: 94px;
    padding-bottom: 94px;
}
.customers-icon {
    fill: #AFB1B8;
    border: 1px solid #AFB1B8;
    border-radius: 4px;
    width: 170px;
    height: 92px;
}
.customers {
    display: flex;
    width: 1170px;
    justify-content: space-between
}
.customers-title {
    font-size: 36px;
    font-weight: 700;
    color: var(--first-color);
    padding-bottom: 50px;
}
.customers-icon:hover,
.customers-icon:focus {
    fill: var(--third-color);
    border: 1px solid #2196F3;
    cursor: var(--first-cursor);
}
/* ===========team============= */
.main-team {
    background-color: var(--third-background-color);
    padding-top: 94px;
    padding-bottom: 94px;
}
.container-main-team {
    width: 1200px;
    margin: 0 auto;
    padding: 0 15px;
    display: flex;
    flex-direction: column;
    align-items: center;
}
.main-team-title {
    font-size: 36px;
    font-weight: 700;
    color: var(--first-color);
    display: block;
    padding-bottom: 50px;
}
.team-images-list {
    display: flex;
    width: 1170px;
    justify-content: space-between;
}
.team-images-item {
    display: flex;
    flex-direction: column;
    align-items: center;
    background-color: var(--fourth-color);
    border-radius: 0px 0px 4px 4px;
    box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.12), 0px 1px 1px rgba(0, 0, 0, 0.14), 0px 2px 1px rgba(0, 0, 0, 0.2);
}
.fullname {
    font-size: 16px;
    font-weight: 500;
    color: var(--first-color);
    padding-top: 30px;
}
.workplace {
    font-size: 16px;
    font-weight: 400;
    color: var(--second-color);
    padding-top: 10px;
    padding-bottom: 16px;
}
.team-socialmedia-links {
    display: flex;
    width: 206px;
    justify-content: space-between;
    padding-bottom: 30px;
}
.team-socialmedia-icon {
    width: 20px;
    height: 20px;
}
.team-socialmedia-link {
    width: 44px;
    height: 44px;
    border-radius: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
    fill: #AFB1B8;
}
.team-socialmedia-link:hover,
.team-socialmedia-link:focus {
    background-color: var(--third-color);
    cursor: var(--first-cursor);
    fill: #ffffff;
}
/* ============================ */
.btn:hover,
.btn:focus {
    cursor: var(--first-cursor);
    background-color: var(--third-color);
    color: var(--fourth-color);
    box-shadow: 0px 3px 1px rgba(0, 0, 0, 0.1), 0px 1px 2px rgba(0, 0, 0, 0.08), 0px 2px 2px rgba(0, 0, 0, 0.12);
}
.link:hover,
.link:focus {
    cursor: var(--first-cursor);
    color:var(--third-color);
}
.address-link:hover,
.address-link:focus {
    cursor:var(--first-cursor);
    color:var(--third-color);
}
.contact-link:hover,
.contact-link:focus {
    cursor:var(--first-cursor);
    color:var(--third-color);
    fill:var(--third-color);
}
.link,
.address-link,
.contact-link {
    text-decoration: none;
    font-size: 14px;
}
.link {
    color:var(--first-color)
}
.contact-link {
    color:var(--second-color);
}
.address-link {
    color:var(--fourth-color);
    line-height: 1.714;
}
.address {
    font-style: normal;
}
.logo,
.header-logo {
    text-decoration: none;
    font-size: 26px;
    font-weight: 700;
}
.logo {
    color: var(--fourth-color);
}
.header-logo {
    color:var(--first-color);
}
span {
    color:var(--third-color);
}
/* ============================ */